{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Home {% endblock %}

{% block body %}

        <div id="content">
            <div id = "banner_image">
                <div class="container">
                    <center>
                        <div id="banner_content">
                            <h1><u>Face Recognition Based</u></h1>
							<h1><u>Door Unlock System</u></h1>
                            <h2>K.C. T.Y. B.Sc. I.T</h2>
                            <h3>Jigyasha SHP 18</h3>
                            <br/>
                        </div>
                    </center>
                </div>
            </div>
		</div>

{% endblock %}