{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Login {% endblock %}

{% block body %}

        <div id="content" style="padding-top:90px">
            <div class="container-fluid decor_bg " id="login-panel">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                        <div class="panel panel-primary" style="opacity: 0.9;">
                            <div class="panel-heading" style="background-color:#;">
                                <center>
                                    <h4>Login</h4>
                                </center>
                            </div>
                            <div class="panel-body">
                                <p class="text-warning"><i>Every field is mandatory *</i><p>
                                <form role="form" action="{{url_for('login')}}" method="POST">
                                    <div class="form-group">
                                        <input type="email" class="form-control"  placeholder="Email" name="email" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password" name="password" required>
                                    </div>
                                    <center>
                                        <div class="col-md-8 col-md-offset-2">
                                            <button type="submit" name="submit" class="btn btn-primary btn-lg btn-block">Login</button><br>
                                        </div>
                                    </center>
                                </form><br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}